# Database Connection (PostgreSQL for production / Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/seven_kingdoms?schema=public"

# Optional Redis Cache (In-memory LRU cache fallback is active by default)
REDIS_URL="redis://localhost:6379"

# An API of Ice and Fire endpoint
ICE_AND_FIRE_API_URL="https://anapioficeandfire.com/api"

# Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
